@page "/sales"

@inherits DateTimeBaseComponent


<h3>SalesComponents</h3>
<p>This is the sales component!!!, quick changasdasde</p>
<br />
<br />
Date: @dateTime
<br />
<br />
<button class="button" @onclick="(() =>{
    child.Show();
    })">Click me to display component</button>
<ChildComponent @ref="child"></ChildComponent>

@code {
    private ChildComponent child;
}
 